body{
    background-image: url(Mr.png);
}
.shivam1{
    background-color: rgb(28, 241, 241);
}
.shivam2{
    background-color: rgb(73, 233, 10);
}
.shivam3{
    background-color: azure;
}

